<html xmlns:th="https://thymeleaf.org">
<table>
    <tr>
        <td><h4>CompanyName: </h4></td>
        <td><h4 th:text="${companyData.companyName}"></h4></td>
    </tr>
    <tr>
        <td><h4>Company: </h4></td>
        <td><h4 th:text="${companyData.company}"></h4></td>
    </tr>
    <tr>
        <td><h4>Exchange: </h4></td>
        <td><h4 th:text="${companyData.exchange}"></h4></td>
    </tr>
    <tr>
        <td><h4>Historical Data: </h4></td>
        <td><h4 th:text="${companyData.historicalData}"></h4></td>
    </tr>
</table>
</html>  