<head>
    <title>Index Page</title>
</head>
<body>
<form action="save" method="post">
    <table>
        <tr>
            <td><label for="company">Company</label></td>
            <td><input type="text" name="company" /></td>
        </tr>
        <tr>
            <td><label for="exchange">Exchange</label></td>
            <td><input type="exchange" name="exchange"></input></td>
        </tr>
        <tr>
            <td><label for="companyName">Company Name</label></td>
            <td><input type="companyName" name="companyName"></input></td>
        </tr>
        <tr>
            <td><label for="historicalData">Historical Data</label></td>
            <td><textarea type="historicalData" name="historicalData"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit"></input></td>
        </tr>
    </table>
</form>
</body>
</html>  