<head>
    <title>Index Page</title>
</head>
<body>
<form action="portfolio-post" method="post">
    <table>
        <tr>
            <td><label for="exchange">Exchange</label></td>
            <td><input type="exchange" name="exchange"></input></td>
        </tr>
        <tr>
            <td><label for="portfolioName">Portfolio Name</label></td>
            <td><input type="portfolioName" name="portfolioName"></input></td>
        </tr>
        <tr>
            <td><label for="rawPortfolioItems">Raw Profile Items</label></td>
            <td><textarea type="rawPortfolioItems" name="rawPortfolioItems"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit"></input></td>
        </tr>
    </table>
</form>
</body>
</html>  